In [48]:
num = c(1,2,3)
let = c("a","b","c")
df = data.frame(num, let)
df

  num let
1 1   a
2 2   b
3 3   c

In [52]:
write("testo","testo.txt")
write.csv(df,file="data1.csv")   #write file with separator ","
write.csv2(df,file="data2.csv")  #write file with separator ";"
write.table(df,file="data3.txt",sep="-") #write file with custom separator "-"
write(c(1,2,3),"data4.txt",sep=";")
write(c(4,5,6),"data4.txt",sep=";",append=TRUE)

In [37]:
testo <- scan("testo.txt", what=character())
# also from command prompt
# enter for new line
# ctrl-z to return to prompt
# what can be logical, integer, numeric, complex, character, raw and list

In [51]:
mode(testo)

[1] "character"

[1] "testo"

In [53]:
data1 <- read.csv("data1.csv")
print("data1")
data1
data2 <- read.csv2("data2.csv")
print("data2")
data2
data3 <- read.table("data3.txt",sep="-")
print("data3")
data3
data4 <- read.table("data4.txt",sep=";")
print("data4")
data4

[1] "data1"

  X num let
1 1 1   a
2 2 2   b
3 3 3   c

[1] "data2"

  X num let
1 1 1   a
2 2 2   b
3 3 3   c

[1] "data3"

  num let
1 1   a
2 2   b
3 3   c

[1] "data4"

  V1 V2 V3
1 1  2  3
2 4  5  6

In [55]:
zip("files.zip", files=c("data1.csv", "data2.csv", "data3.txt", "data4.txt", "testo.txt"))

In [57]:
unz("files.zip","data1.csv")

          description                 class                  mode
"files.zip:data1.csv"                 "unz"                   "r"
                 text                opened              can read
               "text"              "closed"                 "yes"
            can write
                "yes"